version: '3'
services:
  zookeeper:
    image: zookeeper:3.4
    container_name: okr-zookeeper
    ports:
      - "2181:2181"
    restart: unless-stopped

  postgres:
    image: postgres:9.6
    container_name: okr-postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: okr_dev
      POSTGRES_PASSWORD: okr_dev
      POSTGRES_DB: okr_dev
    restart: unless-stopped
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data:
